* {
    background-size: cover;
}

:root {
    --tile-size: 0px; /* This will be changed in the JS. */
    --player-size: 0px; /* ^^^ */
    --offset: 0px;

    --dash-reduce: 2px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: box-shadow 200ms ease-out;
    z-index: 1000000000;
}

.player.flash {
    background-color: red;
    transition: background-colour 50ms cubic-bezier(.56,0,.05,1);
}

* {
    overflow: hidden;
    font-family: 'Courier New'; /* TODO: change */
    user-select: none;
    margin: 0;
    padding: 0;
}

#tiles {
    position: absolute;
    display: block;
    width: 10001vw;
    height: 10001vh;

    /* left: -5000vw; */
    /* top: -5000vh; */
}

.tile {
    display: block;
    position: absolute;

    width: var(--tile-size);
    height: var(--tile-size);

    z-index: 100;

    transition: opacity 200ms ease-in-out, height 300ms cubic-bezier(1,0,.38,1), width 300ms cubic-bezier(1,0,.38,1), transform 300ms cubic-bezier(1,0,.38,1);

    border: 1px solid #444
}

.background {
    display: block;
    position: absolute;

    background-color: #ddd;
    z-index: -100;
}

#fps {
    position: absolute;
    display: block;
    top: 40px;
    left: 40px;
}

.bullet {
    display: block;
    position: absolute;

    left: 0;
    top: 0;

    width: calc(var(--tile-size) / 4);
    height: calc(var(--tile-size) / 4);

    border-radius: calc(var(--tile-size) / 4);

    background-color: red;
    z-index: 10000;
}

.enemy {
    display: block;
    position: absolute;

    width: var(--tile-size);
    height: var(--tile-size);

    z-index: 10000;
}

.turret {
    transition: transform 400ms ease-out;
}

.player {
    display: block;
    position: absolute;

    width: var(--player-size);
    /* height: calc(2 * var(--player-size)); */
    height: var(--player-size);

    left: calc(100vw / 2 - var(--player-size) / 2 - var(--offset-x));
    top: calc(100vh / 2 - var(--player-size) / 2 - var(--offset-y));

    background-color: black;
    border-radius: var(--player-size);

    z-index: 1000;

    /* transform: translate(0, calc(-1 * var(--player-size))); */

    transition: width 200ms ease-in-out, height 200ms ease-in-out, transform 150ms ease-in-out, background-color 1s cubic-bezier(.56,0,.05,1);;
}

.player.dashing {
    width: calc(var(--player-size) - var(--dash-reduce));
    height: calc(var(--player-size) - var(--dash-reduce));
    transform: translate(calc(var(--dash-reduce) / 2), calc(var(--dash-reduce) / 2));
    transition: width 75ms ease-in-out, height 75ms ease-in-out, transform 75ms ease-in-out;
}

.indicator {
    display: block;
    position: absolute;

    width: calc(var(--tile-size) / 2);
    height: calc(var(--tile-size) / 2);

    background: black;
    border-radius: calc(var(--tile-size) / 2);

    transform-origin: center center;

    z-index: 1000;
}

.in_gate, .entrance_gate {
    background: #414a4c;
    border-radius: 4px;
    position: absolute;
    display: block;
    z-index: 100000;
}

.gate.horizontal {
    transform-origin: right;
}

.gate.horizontal.open.left {
    width: 0 !important;
}

.gate.horizontal.open.right {
    /* width: 0 !important; */
    transform: scaleX(0);
    /* transform-origin: right; */
}

.gate.vertical {
    transform-origin: bottom;
}

.gate.vertical.open.top {
    height: 0 !important;
}

.gate.vertical.open.bottom {
    transform: scaleY(0);
}

.ammo_container {
    position: relative;
    display: block;
    width: 20vw;
    left: 75vw;
    height: 10vh;
    top: 85vh;
    border: 8px solid #e0e0e0;
    border-radius: 10px;
    background: #eee;
    z-index: 1000000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
    overflow: hidden;
}

#text-container {
    top: calc(85vh - 40px);
    left: calc(75vw);
    width: 10vw;
    height: 4.233vh;
    background: #eee;
    border-left: 8px solid #e0e0e0;
    border-top: 8px solid #e0e0e0;
    border-right: 8px solid #e0e0e0;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    z-index: 1000001;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25); */
    /* box-shad */
}

#ammo {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    position: absolute;
    /* left: calc(75vw + 3.598vw); */
    left: calc(76.9vw + 6px);
    /* top: calc(85vh - 3.492vw); */
    top: calc(81.508vh + 4px);
    z-index: 1000002;
}

.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 141px;
    height: 141px;
    background: #eee;
    border-right: 8px solid #e0e0e0;
    border-bottom: 8px solid #e0e0e0;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.45);
}

.bullet-gui {
    display: block;
    position: absolute;
    width: 8px;
    height: 8vh;
    margin-top: 1vh;
    margin-left: -4px;
    padding: 0;
    border-radius: 4px 4px 0 0;
    z-index: 1000000;
    /* background: linear-gradient(#895C2B 0%, #895C2B 10%, #928929 10%); */
    background: #444;
    transition: margin-top 200ms ease-in-out, transform 200ms ease-in-out;
}

.bullet-gui.hidden {
    margin-top: -18vh;
    transform: rotate(45deg);
}

#health {
    position: absolute;
    z-index: 10000000;
    left: 10px;
    top: 10px;
    transform: rotate(-90deg);
    /* stroke-dashoffset: 0; */
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25); */
}

#health-circle, #stamina-circle {
    transition: stroke-dashoffset 300ms ease-out;
    /* translate: 20px 20px; */
    position: absolute;
    /* left: 20px; */
    /* top: 20px; */
}

#stamina {
    position: absolute;
    z-index: 10000000;
    left: 10px;
    top: 10px;
    transform: rotate(-90deg);
    /* stroke-dashoffset: 0; */
}


.vignette {
    box-shadow: 0 0 200px rgba(255, 0, 0, 0.3) inset;
    transition: box-shadow 60ms ease-out;
}

.reload-bar {
    position: absolute;
    left: calc(100vw / 2 - var(--player-size) / 2 - var(--offset-x));
    top: calc(100vh / 2 - var(--player-size) / 2 - var(--offset-y) - 10px);
    height: 4px;
    z-index: 100000000
}

.reload-indicator {
    width: var(--player-size);
    background: #333;
    border-radius: 2px;
}

.reload-indicator-progress {
    /* width: var(--player-size); */
    background: #aaa;
    border-radius: 0 2px 2px 0;
}

.death-curtain, .death-curtain > * {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100vh;
    left: 0;
    transition: top 200ms ease-out;
    background: black;
    z-index: 1000000000000;
    font-size: 200px;
    line-height: 100vh;
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.death-curtain > .subtitle {
    top: 60vh;
    /* z-index: 10000000000000; */
    height: 200px;
    line-height: 200px;
    font-size: 75px;
}