:root {
    --tile-size: 0px; /* This will be changed in the JS. */
    --player-size: 0px; /* ^^^ */
    --offset: 0px;
}

* {
    overflow: hidden;
    font-family: 'Lucida Sans MS'; /* TODO: change */
}

.tile {
    display: block;
    position: absolute;

    width: var(--tile-size);
    height: var(--tile-size);

    /* border: 1px solid red;
    box-sizing: border-box; */
}

.player {
    display: block;
    position: absolute;

    width: var(--player-size);
    height: var(--player-size);

    left: calc(100vw / 2 - var(--player-size) / 2 - var(--offset-x));
    top: calc(100vh / 2 - var(--player-size) / 2 - var(--offset-y));

    background: black;
    border-radius: var(--player-size);

    z-index: 1000;
}

.indicator {
    display: block;
    position: absolute;

    width: calc(var(--tile-size) / 2);
    height: calc(var(--tile-size) / 2);

    background: black;
    border-radius: calc(var(--tile-size) / 2);

    transform-origin: center center;

    z-index: 1000;
}