:root {
    --tile-size: 0px; /* This will be changed in the JS. */
    --player-size: 0px; /* ^^^ */
    --offset: 0px;
}

* {
    overflow: hidden;
    font-family: 'Courier New'; /* TODO: change */
    user-select: none;
}

.tile {
    display: block;
    position: absolute;

    width: var(--tile-size);
    height: var(--tile-size);

    will-change: transform;
}

#fps {
    position: absolute;
    display: block;
    top: 40px;
    left: 40px;
}

.bullet {
    display: block;
    position: absolute;

    width: calc(var(--tile-size) / 8);
    height: calc(var(--tile-size) / 8);

    background-color: red;
}

.player {
    display: block;
    position: absolute;

    width: var(--player-size);
    height: var(--player-size);

    left: calc(100vw / 2 - var(--player-size) / 2 - var(--offset-x));
    top: calc(100vh / 2 - var(--player-size) / 2 - var(--offset-y));

    background: black;
    border-radius: var(--player-size);

    z-index: 1000;
}

.indicator {
    display: block;
    position: absolute;

    width: calc(var(--tile-size) / 2);
    height: calc(var(--tile-size) / 2);

    background: black;
    border-radius: calc(var(--tile-size) / 2);

    transform-origin: center center;

    z-index: 1000;
}